{% extends "/base.twig" %}

{% block title %}Inscription
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/css/authentication.css">
	<link rel="stylesheet" href="/css/headerFooter.css">
{% endblock %}

{% block header %}
	{% include "/layouts/header.twig" %}
{% endblock %}

{% block content %}
	<div id="radius-shape-1"></div>
	<div id="radius-shape-2"></div>

	<div class="register-explanation">
		<h1>Pourquoi s'inscrire ?</h1>
		<p>En créant un compte, vous aurez accès à de nombreux avantages. Vous pourrez retrouver toutes vos estimations sur votre tableau de bord, les recevoir par email, et discuter avec des freelances directement depuis notre plateforme.<br>
			<br>Notre objectif est de rendre votre expérience de développement de projet la plus fluide possible. Rejoignez-nous dès aujourd'hui et donnons vie à votre projet !</p>
	</div>

	<div class="container">

		<form action="/register" method="post" class="register-form">
			<h1 class='register-title'>Inscription</h1>

			<div class="input-field">
				<input type="hidden" id="selectedAvatar" name="avatar" required>
				<div class="input-img">
					{% if avatar %}
						<img src="{{ avatar }}" alt="Avatar" class="avatar-preview">
					{% else %}
						<img src="avatars/unknown.svg" alt="Avatar" class="avatar-preview">
					{% endif %}
					<button id="openAvatarModal">Choisir un autre avatar</button>
				</div>
			</div>

			<div class="input-field">
				<label for="name">Nom</label>
				<input type="text" id="name" name="name" placeholder="Entrez votre nom" required value="{{ user.name }}" class="{{ error.name ? 'input-error' : '' }}">
				{% if error.name %}
					<i class="fa fa-exclamation-triangle error-icon"></i>
					<div class="error-message">{{ error.name.message }}</div>
				{% endif %}
			</div>

			<div class="input-field">
				<label for="firstname">Prénom</label>
				<input type="text" id="firstname" name="firstname" placeholder="Entrez votre prénom" required value="{{ user.firstname }}" class="{{ error.firstname ? 'input-error' : '' }}">
				{% if error.firstname %}
					<i class="fa fa-exclamation-triangle error-icon"></i>
					<div class="error-message">{{ error.firstname.message }}</div>
				{% endif %}
			</div>

			<div class="input-field">
				<label for="email">Email</label>
				<input type="email" id="email" name="email" placeholder="Entrez votre email" required value="{{ user.email }}" class="{{ error.email ? 'input-error' : '' }}">
				{% if error.email %}
					<i class="fa fa-exclamation-triangle error-icon"></i>
					<div class="error-message">{{ error.email.message }}</div>
				{% endif %}
			</div>

			<div class="input-field">
				<label for="password">Mot de passe</label>
				<input type="password" id="password" name="password" placeholder="Entrez un mot de passe" required class="{{ error.password ? 'input-error' : '' }}">
				{% if error.password %}
					<i class="fa fa-exclamation-triangle error-icon"></i>
					<div class="error-message">{{ error.password.message }}</div>
				{% endif %}
			</div>

			<div class="input-field">
				<label for="confirmPassword">Confirmez le mot de passe</label>
				<input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmez votre mot de passe" required class="{{ error.confirmPassword ? 'input-error' : '' }}">
				{% if error.confirmPassword %}
					<i class="fa fa-exclamation-triangle error-icon"></i>
					<div class="error-message">{{ error.confirmPassword.message }}</div>
				{% endif %}
			</div>

			<div class="submit-button">
				<input type="submit" value="S'inscrire">
			</div>

			<div class="login-link">
				Déjà inscrit ?
				<a href="/login">Connectez-vous</a>
			</div>

		</form>
	</div>

	<div id="avatarModal" class="modal">
		<div class="modal-content">
			<span id="closeAvatarModal" class="close">&times;</span>
			<div class="avatar-selection">
				{% for avatar in avatars %}
					<div class="avatar-option">
						<input type="radio" id="{{ avatar }}" name="avatarOption" value="{{ avatar }}">
						<label for="{{ avatar }}">
							<img src="{{ avatar }}" alt="Avatar option">
						</label>
					</div>
				{% endfor %}
			</div>
			<button id="saveAvatarSelection">Sauvegarder la sélection</button>
		</div>
	</div>
{% endblock %}

{% block footer %}
	{% include "/layouts/footer.twig" %}
{% endblock %}

{% block scripts %}
	<script src="/js/authentication.js"></script>
{% endblock %}
