<main style="font-family: 'Montserrat', sans-serif;">
	<p style="color: #777777; font-size: 1.2em">
		<strong>Bonjour
			{{user.name}},</strong>
	</p>
	<p style="color: #777777; text-align: justify; font-size: 1em;">
		Nous vous remercions d'avoir utilisé notre service d'estimation. Vous trouverez ci-dessous les détails de votre estimation.
	</p>

	<h1 style="color: #444444; text-align: center;">{{estimate.website_name}}</h1>
	<p style="color: #777777; text-align: center; font-size: 1.2em;">Coût estimé :
		<span style="color: orange;">
			<strong>{{estimate.total_price}}€</strong>
		</span>
	</p>

	<div style="margin: 0 auto; max-width: 600px; padding: 20px; background-color: #f6f6f6; border: 1px solid #e0e0e0; border-radius: 5px;">
		<table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
			<tr>
				<th style="font-size: 1em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize; text-align: left; font-weight: bold;" align="left">Description</th>
				<th style="font-size: 1em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize; text-align: left; font-weight: bold;" align="left">Valeur</th>
			</tr>
			<tr>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">Type de site web</td>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">{{estimate.website_type}}</td>
			</tr>
			<tr>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">Maquette/Design</td>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">{{estimate.mockup}}</td>
			</tr>
			<tr>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">Conception graphique</td>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">{{estimate.graphic_design}}</td>
			</tr>
			<tr>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">Personnalisation</td>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">{{estimate.customization}}</td>
			</tr>
			<tr>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">Contenu</td>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">{{estimate.content}}</td>
			</tr>
			<tr>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">Nombre de pages</td>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">{{estimate.page_number}}</td>
			</tr>
			<tr>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">Pages spéciales</td>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">{{estimate.special_pages}}</td>
			</tr>
			<tr>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">Multilingue</td>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">{{estimate.multilingual}}</td>
			</tr>
			<tr>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">Nombre de langues</td>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">{{estimate.language_count}}</td>
			</tr>
			<tr>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">Conversion de devise</td>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">{{estimate.currency_conversion}}</td>
			</tr>
			<tr>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">Contenu basé sur la localisation</td>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">{{estimate.location_based_content}}</td>
			</tr>
			<tr>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">Services tiers</td>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">{{estimate.third_party_services}}</td>
			</tr>
			<tr>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">Authentification utilisateur</td>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">{{estimate.user_auth}}</td>
			</tr>
			<tr>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">Services de sécurité</td>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">{{estimate.security_services}}</td>
			</tr>
			<tr>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">Budget du projet</td>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">{{estimate.project_budget}}€</td>
			</tr>
			<tr>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">Date de livraison</td>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">{{date}}</td>
			</tr>
			<tr>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">Exemples de site web</td>
				<td style="font-size: 0.9em; padding: 5px; border-bottom: 1px solid #c8c8c8; text-transform: capitalize;">{{estimate.website_examples}}</td>
			</tr>
			<tr>
				<td style="font-size: 0.9em; padding: 5px; text-transform: capitalize; border-bottom: none;">Pack de support</td>
				<td style="font-size: 0.9em; padding: 5px; text-transform: capitalize; border-bottom: none;">{{estimate.support_pack}}</td>
			</tr>
		</table>
	</div>

	<p style="color: #777777; text-align: justify; font-size: 1em;">
		Merci d'avoir utilisé notre service d'estimation. Nous sommes impatients de travailler avec vous sur votre projet. N'hésitez pas à nous contacter si vous avez des questions ou des préoccupations.
	</p>
	<p style="color: #777777; text-align: justify; font-size: 1em;">
		Nous vous rappelons que cette estimation est basée sur les informations que vous avez fournies et pourrait être sujet à changement en fonction de facteurs supplémentaires lors de la réalisation de votre projet.
	</p>

	<p style="color: #777777; text-align: right; font-size: 1.1em;">
		Cordialement,<br>
		<strong>L'équipe EstiMate</strong>
	</p>
</main>
